# Dependencies
node_modules/

# Production
dist
dist-ssr
*.local

# Configuration
configuration.js

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

