.btntext {
  bottom: 5px;
  color: $elv-color-white;
  font-family: sans-serif;
  font-size: 30px;
  left: 115px;
  margin: auto;
  margin-left: 100px;
  position: absolute;
}

img {
  padding-left: 25px;
  padding-top: 50px;
  z-index: 100;
}

.primarybtn {
  bottom: 400px;
  display: flex;
  height: 56px;
  left: 35px;
  position: absolute;
  width: 328px;
}

.spacer {
  height: 800px;
}

.spacer1 {
  height: 20px;
}

.nav {
  align-items: stretch;
  background-color: $elv-color-darkgray;
  display: flex;
  gap: 2rem;
  height: 80px;
  justify-content: space-between;
  padding: 0 1rem;
}

.nav ul {
  display: flex;
  gap: 3rem;
  padding-left: 25px;
  padding-top: 30px;
  width: 100%;
}

.nav a {
  color: $elv-color-text-white;
  font-family: sans-serif;
  font-size: 32px;
}

.hometext {
  color: $elv-color-text-white;
  font-family: sans-serif;
  font-size: 28px;
  margin-left: 30px;
  margin-right: 30px;
}

.linktext {
  color: $elv-color-blue;
  font-family: sans-serif;
  font-size: 28px;
  margin-left: 30px;
  margin-right: 30px;
}
