/*.navigation {
  background: rgba(13,13,13,1);
  display: flex;
  flex-direction: row;
  min-width: 100%;
  padding: 20px 0;
  user-select: none;
  width: 100%;
  z-index: 0;

  &-link {
    align-items: center;
    color: $elv-color-white;
    cursor: pointer;
    display: flex;
    height: 40px;
    padding: 0 20px;

    &-back {
      background-color: $elv-color-darkergray;
      margin-bottom: 20px;
    }

    &.active {
      background-color: $elv-color-blue;
    }
  }

  &-logo-container {
    cursor: pointer;
    padding: 0px 20px 0px;
  }

  &-logo {
    * {
      fill: $elv-color-white;
      stroke: $elv-color-white;
    }
  }
/*
  @media screen and (max-width: 1000px) {
    display: none;
  }

}
  */