$gray-10: #565656;
$gray-20: #ededed;
$gray-30: #404040;
$gray-40: #c6c6c6;
$gray-50: #f9f9f9;
$gray-60: #7b7b7b;
$blue-10: #1a65d6;
$blue-20: #436cde;
$blue-30: #7cb8f9;
$black-10: #000;
$white-10: #fff;
$red-10: #e10707;
